html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/****************************************

          Typography

*****************************************/
h1 {
  /* 48px */
  font-size: 300%;
  line-height: 1;
  font-weight: bold;
}

h2 {
  /* 48px */
  font-size: 225%;
  line-height: 1.3333;
  font-weight: bold;
}

h3 {
  /* 24px */
  font-size: 150%;
  line-height: 1;
  font-weight: bold;
}

h4, h5, h6 {
  /* 24px */
  font-size: 100%;
  line-height: 1.5;
  font-weight: bold;
}

/****************************************

          General Setting

*****************************************/
#wordpress {
  margin: 0 auto;
}
#wordpress header {
  padding-top: 50px;
  margin-bottom: 20px;
}
#wordpress header #title {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-left: 10px;
}
#wordpress header #title h1 {
  margin-bottom: 5px;
}
#wordpress header nav {
  margin-top: 10px;
}
#wordpress header nav > div > ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#wordpress header nav li > ul {
  display: none;
  position: absolute;
  background-color: white;
}
#wordpress #main {
  max-width: 100%;
  display: block;
}
#wordpress #main #article {
  padding: 10px;
  display: block;
  max-width: 95%;
}
#wordpress #main #article .commentlist .children {
  padding-left: 10%;
}
#wordpress #main #article .commentlist .comment-meta {
  margin: 10px 0 10px;
}
#wordpress #main #article .commentlist .reply {
  padding-top: 10px;
}
#wordpress #main #article .required {
  color: red;
}
#wordpress #main #article .comment-form p {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
#wordpress #main #article .comment-form p.comment-notes {
  display: inline;
}
#wordpress #main #article .comment-form p.comment-notes #email-notes:after {
  content: "\A";
  white-space: pre;
}
#wordpress #main #article .comment-form p.comment-form-comment {
  margin-top: 10px;
}
#wordpress #main #article #breadcrumb ul {
  display: flex;
  margin-bottom: 10px;
}
#wordpress #main #article .navigation ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#wordpress #main #article section {
  margin-bottom: 10px;
}
#wordpress #main #article section time {
  margin-right: 10px;
}
#wordpress #main #article section .Impression {
  padding-left: 10px;
  margin-bottom: 10px;
  display: flex;
}
#wordpress #main #article section article {
  padding-left: 10px;
  display: inline;
  max-width: 100%;
  margin-bottom: 10px;
}
#wordpress #main #article section article #content_text img {
  max-width: 100%;
  height: auto;
}
#wordpress #main #article section article .mokuji_wrap {
  border: 1px solid;
  width: auto;
  padding: 10px;
  display: table;
  margin-bottom: 10px;
}
#wordpress #main #article section article .mokuji_wrap .mokuji {
  margin-bottom: 10px;
  text-align: center;
}
#wordpress #main #article section article .mokuji_wrap ul > ul {
  margin-left: 10px;
}
#wordpress #main #article section article .mokuji_wrap li {
  list-style-type: decimal;
  margin-left: 20px;
}
#wordpress #main #article section article h1, #wordpress #main #article section article h2, #wordpress #main #article section article h3, #wordpress #main #article section article h4, #wordpress #main #article section article h5, #wordpress #main #article section article h6 {
  margin: 10px 0 10px -10px;
}
#wordpress #main #article section article ul#social_buttom {
  display: flex;
  flex-wrap: wrap;
}
#wordpress #main #article section article ul#social_buttom li {
  margin-left: 5px;
}
#wordpress #main #article section article ul#social_buttom li#pocket {
  margin-left: 2px;
}
#wordpress #main #article section article #page-link ul {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px;
}
#wordpress #main #article section article .aligncenter {
  display: block;
  margin: 0 auto;
}
#wordpress #main #article section article .alignright {
  float: right;
}
#wordpress #main #article section article .alignleft {
  float: left;
}
#wordpress #main #article section article .thumbnail {
  margin-right: 30px;
  float: left;
}
#wordpress #main #article section .more {
  display: flex;
  flex-direction: row-reverse;
  clear: both;
}
#wordpress #main #article ul#related-entries {
  display: flex;
  justify-content: space-between;
}
#wordpress #main #article ul#related-entries li {
  margin-left: 10px;
}
#wordpress #main #article ul#related-entries li h6 {
  margin-left: 0;
}
#wordpress #main aside {
  padding: 10px;
  display: block;
}
#wordpress #main aside section {
  margin-bottom: 10px;
}
#wordpress #main aside section h3 {
  margin-bottom: 5px;
}
#wordpress #main aside section ul {
  margin-left: 10px;
}
#wordpress #main aside section ul li {
  margin-bottom: 2px;
}
#wordpress footer {
  clear: both;
  margin-top: 20px;
}
#wordpress footer ul {
  display: flex;
  justify-content: space-between;
}

#wordpress #main #article {
  float: right;
}
#wordpress #main aside#alpha {
  width: 180px;
  float: left;
}
#wordpress #main aside#beta {
  width: 180px;
  float: left;
}

@media screen and (max-width: 640px) {
  #wordpress {
    width: 100%;
  }
  #wordpress #main {
    width: 100%;
  }
  #wordpress #main aside {
    display: none;
  }
}
@media screen and (min-width: 640px) {
  #wordpress {
    width: 640px;
  }
  #wordpress #main #article {
    width: 420px;
  }
}
@media screen and (min-width: 1000px) {
  #wordpress {
    width: 1000px;
  }
  #wordpress #main #article {
    width: 580px;
  }
}
