header{
background: url('%url%four-leaf-clover.png') 0 -119px no-repeat;
padding-bottom:10px;
border-bottom:2px #9acd32 dotted;
}
header nav li{
	padding:10px;
	background: url('%url%four-leaf-clover.png') -829px -54px no-repeat;
}
footer{
border-top:2px #9acd32 dotted;
padding-top:10px;
}
aside section h3{
padding:5px 0 5px;
background: url('%url%four-leaf-clover.png') -879px -31px no-repeat;
}